.header{
  background-color: #{$secondary-color};
  &__navItem{
    min-height: 60px;
    padding: 0 15px;
    @include media-breakpoint-up('m'){
      min-height: 80px;
      padding: 0;
    }
  }
  .uk-navbar-toggle,
  .uk-navbar-item{
    @extend .header__navItem;
    color: #ffffff;
  }
  .uk-navbar-nav{
    >li{
      >a{
        color: #ffffff;
        text-transform: inherit;
        @extend .header__navItem;
        font-family: $font-Barlow-Medium;
      }
    }
  }
}