.header{
  background-color: #{$secondary-color};
  &__navItem{
    min-height: 60px;
    padding: 0 15px;
    @include media-breakpoint-up('m'){
      min-height: 80px;
      padding: 0;
    }
  }
  .uk-navbar-toggle,
  .uk-navbar-item{
    @extend .header__navItem;
    color: #ffffff;
  }
  &__menu{
    @include media-breakpoint-down('s'){
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      transition: all .3s;
      height: auto;
      background-color: #{$secondary-color};
      >li{
        >a{
          min-height: 40px !important;
        }
      }
    }
  }
  .uk-navbar-nav{
    >li{
      >a{
        color: #ffffff;
        text-transform: inherit;
        @extend .header__navItem;
        font-family: $font-Barlow-Medium;
      }
      &.uk-active{
        >a{
          //color: yellow;
        }
      }
    }
  }
}