/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Arial Regular';
  font-display: swap;
  src:local('Arial Regular'), url('fonts/Arial/arial.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Verdana Regular';
  font-display: swap;
  src:local('Verdana Regular'), url('fonts/Fonts/Verdana.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Verdana Bold';
  font-display: swap;
  src:local('Verdana Bold'), url('fonts/Fonts/Verdana-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Roboto Regular';
  font-display: swap;
  src:local('Roboto Regular'), url('fonts/Fonts/Roboto-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Black';
  font-display: swap;
  src:local('Roboto Black'), url('fonts/Fonts/Roboto-Black.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Bold Italic';
  font-display: swap;
  src:local('Roboto Bold Italic'), url('fonts/Fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Bold';
  font-display: swap;
  src:local('Roboto Bold'), url('fonts/Fonts/Roboto-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Medium';
  font-display: swap;
  src:local('Roboto Medium'), url('fonts/Fonts/Roboto-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Light Italic';
  font-display: swap;
  src:local('Roboto Light Italic'), url('fonts/Fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * HelveticaNeue
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Helvetica Neue Regular';
  font-display: swap;
  src:local('Helvetica Neue Regular'), url('fonts/HelveticaNeue.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Helvetica Neue Medium';
  font-display: swap;
  src:local('Helvetica Neue Medium'), url('fonts/HelveticaNeue-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Barlow
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Barlow Light Italic';
  font-display: swap;
  src:local('Barlow Light Italic'), url('fonts/Barlow-LightItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Barlow Regular';
  font-display: swap;
  src:local('Barlow Regular'), url('fonts/Barlow-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Barlow Bold';
  font-display: swap;
  src:local('Barlow Bold'), url('fonts/Barlow-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Barlow Light';
  font-display: swap;
  src:local('Barlow Light'), url('fonts/Barlow-Light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Barlow SemiBold';
  font-display: swap;
  src:local('Barlow SemiBold'), url('fonts/Barlow-SemiBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Barlow Medium';
  font-display: swap;
  src:local('Barlow Medium'), url('fonts/Barlow-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Barlow
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Syne Bold';
  font-display: swap;
  src:local('Syne Bold'), url('fonts/Syne-VariableFont_wght.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}